*,
*::before,
*::after{
box-sizing: border-box;
}

body {
    margin: 0;
    color: #3C3C3C;
    font-family: "Smythe";
    font-weight: 400; 
    background-color: #ECECEC;
  }
  
.container{
    width: 80%;
    margin: 0 auto;
    background-color: white;
    border: solid lightgray;
} 

 .hero {
    background-image: url("bg-img.png");
    background-size: cover;
    padding-bottom: 2.5em;
    padding-top: .3em;
    padding-left: 2em; 
}
   
h1 {
    font-size: 2.5rem;
    font-weight: 400;
    margin-bottom: 0px;
    color: #fff;
}

.p-hero {
    font-size: 1.4rem;
    font-weight: 400;
    color: #fff;
}
  
.menu {
    width: 93%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-top: 2em;
    padding-bottom: 2em;
    margin-left: 1em;
    border-bottom: 1px solid lightgray;
}

span.emoji {
        display: flex;
        width: 70px;
        height: 89px;
        align-self: center;
        margin: 0 .5em 0 0;
        font-size: 4.92rem;
    }

h2{
    font-weight: 400;
    font-size: 1.75rem;
    color: #000;
    margin-top: 0;
    margin-bottom: 0;
}

p{
    font-weight: 400;
    font-size: 1.25rem;
    color: #8B8B8B;
    margin-top: .4em;
    margin-bottom: 0;
}

.price{
    font-weight: 400;
    font-size: 1.25rem;
    color: #000; 
    margin-top: .6em; 
}

  .add-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color:  #ECFDF5;
    border: 2px solid #dedede;
    font-family: Inter, sans-serif;
    font-size: 2rem;
    font-weight: 200;
    cursor: pointer;
    color: #3C3C3C;
}
  
  
.items {
    flex: 1; /* Makes text container take up available space */
    margin-left: 1em;
}

.cart{
  padding-top: 2em;
}

.cart-title{
    display: none;
    justify-content: center;
    font-size: 1.75rem;
    padding-bottom: .75em;
}

.selections {
  display: flex;
  justify-content: space-between;
  width: 87%;
  margin: 0 auto;
  font-size: 1.75rem;
}

.selection-name {
  display: flex;
  align-items: center;
  gap: 0.5em;
}

.remove-btn{
    font-size: .75rem;
    padding-top: 1em;
    color: #BBBBBB;
    background: none;
    border: none;
    margin-left: 0;
}

.total {
  width: 87%;
  border-top: solid 2px #393333;
  margin: 0 auto; /* Center it */
}

#total-price {
  display: flex; /* change to 'none' in JS when empty */
  flex-direction: column;
  align-items: center;
  margin-top: 1em;
}

.total-line {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 1em;
}

.label, .amount {
  font-size: 1.75rem;
  padding-bottom: 1.5em;
}

.complete-order-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 100%;
  max-width: 500px;
  height: 3.5em;
  padding: 10px 20px;
  font-size: 1rem;
  font-weight: 700; 
  border: none;
  border-radius: 6px;
  background-color: #16DB99;
  color: #fff;
  cursor: pointer;
  margin-bottom: 2em;
}

/*Payment modal form*/

.form-modal {
  display: none;
  position: fixed;
  top: 50%;        /* Centers it vertically */
  left: 50%;       /* Centers it horizontally */
  transform: translate(-50%, -50%);  /* Correct positioning */
  background-color: white;
  box-shadow: 5px 5px 0px 50px #00000080;
  flex-direction: column;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 4px;
  width: 70%;
}

.form-modal h2{
  font-size: 1.50rem;
  font-weight: 700;
  color: #000000;
  padding: 20px;
}

#payment-form {
  width: 90%;
  display: flex;
  flex-direction: column;
  gap: 24px; /* adds space between inputs */
  margin-bottom: 2em;
}

#payment-form input{
  font-size: 1.25rem;
  font-weight: 400;
  color: #757575;
  border: solid 1.3px #757575;
  border-radius: 2px;
  padding: 1em 0em 1em .7em;  
}

button{
  background-color: #16DB99;
  font-size: 1.25;
  font-weight: 700; 
  border: none;
  border-radius: 2px;
  color: #fff;
  padding: 1em 1em;
  padding-bottom: 1em;
  margin: 1emem;  
}

.close-modal-btn-container{
  display: flex;
  justify-content: right;
  text-align: center;
}

.modal-close-btn{
  padding: 0;
  background: white;
  color: #bcbcbc;
  border: solid 1px #bcbcbc;
}

#thank-you-msg{
  display: none;   /* Hidden by default */
  position: fixed; 
  top: 50%;        /* Centers it vertically */
  left: 50%;       /* Centers it horizontally */
  transform: translate(-50%, -50%);  /* Correct positioning */
  padding: 90px;
  border-radius: 10px;
  border: solid 6px;
  border-color: red orange blue lightseagreen;
  text-align: center;
  background: #ECFDF5;
  box-shadow: 30px 30px 90px 5px skyblue inset;
  color: #16DB99;
  width: 75%;
  font-size: 4rem;
  font-weight: 700;
}

.thnks-close-btn{
  position: absolute;  /* Positions it relative to the #thank-you-msg */
  bottom: 20px;        /* Places the button at the bottom */
  right: 20px;         /* Places the button at the right */
  padding: 0;
  background: transparent;
  font-size: 1rem;
  font-weight: 400;
  color: #bcbcbc;
  border: solid 1px #bcbcbc;
}
